.superior {
    text-align: end;
    background-color: #A6341B;
    padding: 10px;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color:#66C4D9;
    height: 500px;
    width: 1200px;
    margin-top: 12px;
    margin-left: 50px;
    padding: 20px;
    
}

.item {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #025373;
    height: 100px;
    width: 200px;

}
p {
    margin-left: 10px;
}

.botaocomprar {
    background-color:#D96725;
    color: aliceblue;
}
.containercadastro {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: aqua;
    height: 500px;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.bodycadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: lightgrey;

}
.navlogin {
    background-color: black;
    margin-top: 0%;
    color: aliceblue;
    
}

.container-nav {
    display: inline-block;
}



.box {
    display: flex;
    justify-content: center;
    height:300px;
    margin-bottom: 100px;
    background-color: #66C4D9;
    color: #050B0D;
    font-family:Arial, Helvetica, sans-serif;
}

#senha {
    width: 300px;
    display: flex;
}

#usuario {
    width: 300px;
    margin-top: 10px; 
}

.botaologin {
    background-color: green;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 90px;
    width: 100px;
    }
 a {
    color:aliceblue
 }
 
.divcompras {
    color: white;
    background-color: #D96725;
}

.carrinho {
    display: flex;
    justify-content: center;
    background-color: rgba(43, 141, 43, 0.705);
    height: 200px;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
}